svg {
  width: 100%;
}

path {
  fill: none;
  stroke: #888;
  stroke-width: .5px;
}

.municipality {
  stroke: #06840B;
}

.section.demographics ul{
  padding: 0;
  margin: 0;
  overflow: hidden;
  margin-bottom: 0;
}
.section.demographics ul li{
  padding: 0 0 5px 2px;
  list-style: none;
}
.section.demographics ul li:last-child{
  padding-bottom: 0;
}
.section.demographics ul li input {
 margin: 0px 5px 0px 0px;
}
.section.demographics ul li label {
 display: inline;
}
.section.demographics ul li#animation_toggle{
  width: 100%;
  clear: both;
  float: none;
}

#loading {
  background-color: rgba(255,255,255,0.7);
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 300px;
  font-size: 3em;
  color: #777;
}
