// COLORS
/////////////////////////////////////////////////////////////////*/
$background:          #F2F2F2;

$border-color:        #DDDDDD;
$border-color-dark:   #999999;
$border-color-light:  #E9E9E9;

$text-color:          #333333;
$text-color-dark:     #333333;
$text-color-contrast: #666666;
$text-color-light:    #999999;
$text-color-bright:   #BBBBBB;
$text-color-invers:   #FFFFFF;

$link-color:           #3FBEFF;
$link-color:           #EE0000;
$link-color-hover:     #3FBEFF;
$link-color-active:    #3FBEFF;

// TYPOGRAPHY
/////////////////////////////////////////////////////////////////*/
$default-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$default-font-size:   12px;
$default-line-height: 1.5;

$font-size-x:         12px;
$font-size-s:         14px;
$font-size-m:         16px;
$font-size-l:         24px;
$font-size-h:         36px;

// SPACES
/////////////////////////////////////////////////////////////////*/
$space-x:              5px;
$space-s:             10px;
$space-m:             20px;
$space-l:             40px;
$space-h:             60px;

/* DEFAULTS
/////////////////////////////////////////////////////////////////*/
$default-border-radius:       3px;
$default-box-shadow-h-offset: 0px;
$default-box-shadow-v-offset: 1px;
$default-box-shadow-blur:     5px;
$default-box-shadow-color:    rgba(0,0,0,0.4);