// PAGE
/////////////////////////////////////////////////////////////////*/
.map-section{
  background: #ccc;
  h2{
    margin: 0;
  }
}
.timeline-section{
  background: #ddd;
  h2{
    margin: 0;
  }
}