<div id="credits">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p>Created at <a href="http://make.opendata.ch/">
          <img src="assets/images/opendata-MAKE-generic-logo-RGB.svg" width="92" height="30"/>
        </a> by Fabian, Heiko, Philipp, Timo, Sylke, Mhedi & <a href="http://interactivethings.com">Interactive Things</a></a></p>
      </div>
    </div>
  </div>
</div>