<div id="credits">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p>Made with <span class="icon-love">love</span> by <a href="http://interactivethings.com">Interactive Things</a></a></p>
      </div>
    </div>
  </div>
</div>