<div id="imprint-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="imprint-modal-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="imprint-modal-label">Impressum</h3>
  </div>
  <div class="modal-body">
    <h4>Mitglieder</h4>
    <ul>
      <li>Mitglied 1</li>
      <li>Mitglied 1</li>
      <li>Mitglied 1</li>
      <li>Mitglied 1</li>
      <li>Mitglied 1</li>
    </ul>
    <h4>Quellen</h4>
    <ul>
      <li>Quelle 1</li>
      <li>Quelle 1</li>
      <li>Quelle 1</li>
      <li>Quelle 1</li>
      <li><a href="http://thenounproject.com/">The Noun Project</a></li>
    </ul>
  </div>
  <div class="modal-footer">
    <img src="assets/images/opendata-MAKE-generic-logo-RGB.svg" width="125.71" height="40"/>
  </div>
</div>