#explore{
  p{
    padding: 0;
    margin: 0;
    font-size: $font-size-l;
    font-weight: 400;
    text-align: center;
    line-height: 80px;
    a{
      @include text-shadow (0 1px 0 rgba(255, 255, 255, 0.6));
      @include box-shadow (inset $default-box-shadow-h-offset $default-box-shadow-v-offset $default-box-shadow-blur $default-box-shadow-color);
      @include transition();
      display: block;
      color: rgba(0,0,0,0.5);
      background: #ddd image-url('credits-bg.png') 0 0;
      img{
        @include opacity(0.5);
        margin-top: -5px;
        margin-right: 0.5em;
      }
    }
    a:hover{
      color: $link-color;
      background: #ccc;
      text-decoration: none;
      img{
        @include opacity(1);
      }
    }
  }
}