.introduction{
  padding: 50px 0 0;
  @include box-shadow ();
  .container{
    position: relative;
  }
}
.lead.question-paragraph{

}
.lead.answer-paragraph{
  margin-bottom: 0;
}
.answer-introduction{
  font-size: $font-size-m;
  font-weight: 400;
}
.calendar{
  display: block;
  text-align:center;
  width: 160px;
  height: 160px;
  background: image-url("noun_project_4297.svg") 0 0 no-repeat;
  margin: 0.5em auto 0;
  @include background-size("cover");
  span{ display: block;}
  .calendar-month{
    font-size: $font-size-l;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
  }
  .calendar-day{
    font-size: 80px;
    font-weight: 900;
    line-height: 90px;
  }
}
.question-toggle{
  position: absolute;
  right: 0;
  bottom: 20px;
}