---
title: Tax Freedom Day
scripts: []
---
<section class="introduction">
  <div class="container">
    <p class="lead question-paragraph">
      Daniel Vasella wohnt in
      <a href="#" id="municipality" data-pk="1" data-original-title="municipality" class="editable editable-click"></a>, ist 
      <a href="#" id="social-group" data-pk="1" data-original-title="social-group" class="editable editable-click"></a>
      , 
      und verdient ein jährliches Einkommen von 
      <a href="#" id="income-group" data-pk="1" data-original-title="income-group" class="editable editable-click"></a> Franken.
    </p>
    <p class="lead answer-paragraph">
      <span class="answer-introduction">Somit ist sein Tax Freedom Day:</span>
      <span class="calendar">
        <span class="calendar-month">Mai</span>
        <span class="calendar-day">19</span>
      </span>
    </p>
    <a href="#" class="btn question-toggle">Jetzt Du!</a>
  </div>
</section>
<section class="timeline-section">
  <h2>Timeline</h2>
</section>
<section class="map-section">
  <h2>Map</h2>
</section>