---
title: Tax Free Day
scripts: []
---
<section class="introduction">
  <div class="container">
    <p class="lead" id="editable">
      Daniel Vasella is 
      <a href="#" id="social-group" data-pk="1" data-original-title="social-group" class="editable editable-click"></a>
      , lives in 
      <a href="#" id="municipality" data-pk="1" data-original-title="municipality" class="editable editable-click"></a> 
      and earned 
      <a href="#" id="income-group" data-pk="1" data-original-title="income-group" class="editable editable-click"></a> 
      CHF in the last year. Therefore his tax free day is XXX.
    </p>
  </div>
</section>
<div class="container">
  <div class="timeline"></div>
</div>