---
title: Introduction
scripts: []
---

<div class="container">
  <section class="question">
    <p class="lead" id="tangle">
      Daniel Vasella is married with two children, lives in Fribourg and earns <span data-var="CHF" class="TKAdjustableNumber" data-min="2" data-max="100"> CHF</span> in the last year. Therefore his tax free day is <span data-var="TFD"></span>.
    </p>
  </section>

  <div class="timeline"></div>
</div>