---
title: Map 1
scripts: []
---

<div class="container">
  <section>
    <p>Hello, App 1!</p>
  </section>
  <div class="panel unfolded">
      <div class="section" id="title">
        <a href="http://make.opendata.ch/"><img src="assets/img/make.opendata.ch_logo_s.png"></a>
        <h1>Swiss Train Flows</h1>
        <p><a href="http://make.opendata.ch/">Make.OpenData.ch Camp 2012</a></p>
        <a href="#" title="Toggle Panel" id="panel_toggle">hide</a>
      </div>
      <div class="section legend">
        <h2>Section for filters and stuff</h2>
        <p>Yes, indeed: we can do amazing stuff with the map.</p>
      </div>
      <div class="section legend">
        <h2>Legend</h2>
        <img src="assets/img/legend.png">
      </div>
      <div class="section credits last">
        <p>Map data &copy; <a href="http://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a></p>
      </div>
    </div>
</div>