---
title: Map 1
scripts: []
---

<div class="container">
  <section>
    <p>Hello, App 1!</p>
  </section>
  <div class="panel unfolded">
      <div class="section title">
        <h1>Make.OpenData.ch Finance</h1>
        <p>Description of our project regarding the tax freedom day.</p>
        <a href="#" title="Toggle Panel" id="panel_toggle">hide</a>
      </div>
      <div class="section legend">
        <h2>Section for filters and stuff</h2>
        <p>Yes, indeed: we can do amazing stuff with the map.</p>
      </div>
      <div class="section legend">
        <h2>Legend</h2>
        <img src="assets/images/legend.png">
      </div>
      <div class="section credits last">
        <p>Map data &copy; <a href="http://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a></p>
      </div>
    </div>
</div>