---
title: Map Prototype
scripts: []
---

<div id="map"></div>
<div class="panel unfolded">
  <div class="section title">
    <h1>Make.OpenData.ch Finance</h1>
    <p>Description of our project regarding the tax freedom day.</p>
    <a href="#" title="Toggle Panel" id="panel_toggle">hide</a>
  </div>
  <div class="section income">
    <h2>Geography</h2>
    <p>Filters for geography</p>
  </div>
  <div class="section income">
    <h2>Demographics</h2>
    <p>Filters for demographics</p>
  </div>
  <div class="section income">
    <h2>Income</h2>
    <p>Filters for income</p>
  </div>
  <div class="section credits last">
    <p>Map data &copy; <a href="http://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a></p>
  </div>
</div>