---
title: Map
scripts: []
---

<div id="map"></div>
<div class="panel unfolded">
  <div class="section title">
    <h1>Make.OpenData.ch Finance</h1>
    <p>Tax Freedom Day: Darker green means a later tax freedom day. <a href="https://github.com/interactivethings/make-opendata-finance">GitHub</a>. <a href="http://www.estv2.admin.ch/d/dokumentation/zahlen_fakten/tax_freedom_day/2011/index.htm">Data Source</a>.</p>
    <a href="#" title="Toggle Panel" id="panel_toggle">hide</a>
  </div>
  <div class="section demographics">
    <h2>Demographics</h2>
    <ul>
      <li><input name="demographics" type="radio" value="1" id="demographics-1" checked="checked" /> <label for="demographics-1">Ledige Person (ohne Kinder)</label></li>
      <li><input name="demographics" type="radio" value="2" id="demographics-2" /> <label for="demographics-2">Ehepaar ohne Kinder</label></li>
      <li><input name="demographics" type="radio" value="3" id="demographics-3" /> <label for="demographics-3">Ehepaar mit 2 Kindern</label></li>
      <li><input name="demographics" type="radio" value="4" id="demographics-4" /> <label for="demographics-4">Rentnerehepaar (ohne Kinder)</label></li>
    </ul>
  </div>
  <div class="section income">
    <h2>Gross Income</h2>
    <p>Filtered for income: <span id="income_value"></span></p>
    <div id="income_slider"></div>
  </div>
  <div class="section credits last">
    <p>Map data &copy; <a href="http://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a></p>
  </div>
</div>

<div id="loading">Loading…</div>
