---
title: Timeline
scripts: []
---

<section class="timeline-question">
  <div class="container">
    <p class="lead">Hans Muster aus <span class="editable">Köniz</span> ist <span class="editable">verheirated mit zwei Kindern</span> und verdient im Jahr <span class="editable">100'000</span> CHF.</p>
  </div>
</section>
<section class="timeline-chart">
  <div class="container">
    <div id="chart"></div>
  </div>
</section>
